@extends('layout.default')
@section('content')
#formCssContent#
<div class="content-wrapper">
<section class="content-header">
    <h1>
        #tableNameComment#管理
        <small></small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>

                    <div class="box-tools">
                        <div class="btn-group pull-right" style="margin-right: 5px">
                            <a href="/admin/#lowerPathName#" class="btn btn-sm btn-default" title="列表"><i class="fa fa-list"></i><span class="hidden-xs">&nbsp;返回列表</span></a>
                        </div>
                    </div>
                </div>

                <form method="post" class="form-horizontal" enctype="multipart/form-data" accept-charset="UTF-8">

                    <div class="box-body">
                        <div class="fields-group">
                            <div class="col-md-12">
#formListContent#
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8">
                            <div class="btn-group pull-right">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="csrf_token" value="{{$_token}}">
                </form>
            </div>
        </div>
    </div>
</section>
</div>
<script src="/app/webmanAdmin/assets/AdminLTE/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script src="/app/webmanAdmin/assets/AdminLTE-2.4.18/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/app/webmanAdmin/assets/AdminLTE-2.4.18/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/app/webmanAdmin/assets/AdminLTE-2.4.18/bower_components/fastclick/lib/fastclick.js"></script>
<script src="/app/webmanAdmin/assets/AdminLTE-2.4.18/dist/js/adminlte.min.js"></script>
<script src="/app/webmanAdmin/assets/js/app.js"></script>
<script src="/app/webmanAdmin/assets/nestable/jquery.nestable.js"></script>
#formJsContent#

    <script>
        $(function () {
            $('#form').attr('action', window.location.href)
#formScriptContent#
        });
    </script>
@endsection