            $('.#field#:not(.initialized)').addClass('initialized').bootstrapNumber({
                upClass: 'success',
                downClass: 'primary',
                center: true
            });

